@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

:root{
--Cyan: hsl(179, 62%, 43%);
--BrightYellow: hsl(71, 73%, 54%);
--LightGray: hsl(204, 43%, 93%);
--GrayishBlue: hsl(218, 22%, 67%);
font-family: 'Karla', sans-serif;
font-size: 10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--LightGray);
}

main{
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
width:65rem;
box-shadow: 0 .5rem .5rem .1rem rgba(0,0,0,0.1);
border-radius: 1rem;
}


.community, .subscription, .about-us{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    font-size: 1.5rem;
}

.subscription, .about-us{
    color:var(--LightGray);
    font-size: 1.5rem;
    
}
.community{
    
    background-color: hsl(0, 0%,100%);
    border-radius: 1rem 1rem 0 0;
    grid-column: 2 span;
   
    
   }


 
h1{
    font-size: 2.8rem;
    color:var(--Cyan);
        
    
}
.guarantee{
    font-size: 2rem;
    color:var(--BrightYellow);
 
}

.com-des{

    color:var(--GrayishBlue);
}
.subscription{
    background-color: var(--Cyan);
    border-radius: 0 0 0 1rem;
            
}

h2{
    font-size: 1.7rem;
}

.price{
    display: flex;
}
.dollar{
font-size:3rem;
font-weight: 700;
}

.month{
   align-self: center;
   padding-left: 1.5rem;
   color: hsl(179, 62%, 70%);
           }

 .sign-up{
    background-color: var(--BrightYellow);
     height:5rem;
    font-size:1.5rem;
    color: hsl(0, 0%,100%);
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 .5rem .5rem .1rem rgba(0,0,0,0.1);
 }          
.about-us{
    background-color:hsl(179, 62%, 48%);
    border-radius: 0 0 1rem 0;
}
ul{
    list-style-type: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; }
.attribution a { 
    color: hsl(228, 45%, 44%); }

@media (max-width:800px){
    main{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width:80vw;
    }

    .community{
        grid-column:1;     
        
       }

       .subscription{
        border-radius: 0 0 0 0;
       }
.about-us{
    border-radius: 0 0 1rem 1rem;
}
}